html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img {
	border-style:none;
	max-width:100%;
}
a {text-decoration:none;}
a:hover {text-decoration:none;}
input, textarea, select {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	vertical-align:middle;
	color:#000;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
*:focus {outline: none;}
input::-webkit-input-placeholder{color:#bebebe;}
input:focus::-webkit-input-placeholder{color:#bebebe;}
/***************************************************              GENERAL STYLES             ***************************************************/
h1 {font: 35px sans-serif;}
h2 {font: 25px sans-serif;}
h3 {font: 23px sans-serif;}
h4 {font: 21px sans-serif;}
h5 {font: 18px sans-serif;}
h6 {font: 16px sans-serif;}
p {}
strong {}
/**********************************************************              PC - LARGE             *************************************************/
/*@media (min-width: 1218px) and (max-width: 10000px) {}*/
/* wrapper */
#wrapper {
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%;
}
.layout {
	margin:0 auto;
	position:relative;
	}
#footer {
	display:block;
	overflow:hidden;
	width:100%;
	margin:0 0 0;
	padding:0 0;
}
#main {
	overflow:hidden;
	display:block;
	width:100%;
	position: relative;
	z-index: 0;
}
#header {
	width:100%;
	display:block;
	position:relative;
}
*{box-sizing: border-box;}
/****************************************************************              PC              ***************************************************/
@media (min-width: 978px) and (max-width: 1217px) {}
/****************************************************************              TABLET              ***********************************************/
@media (min-width: 768px) and (max-width: 977px) {
	.layout {
		margin:0 auto;
		position:relative;
		width:768px;
	}
}
/****************************************************************              MOBILE              ***********************************************/
@media (min-width: 320px) and (max-width:767px) {
	.layout {
		width:100%;
		padding:0;
	}
}
#header {
	background-image: url(../img/header.png);
	height: 1070px;
	.nav_up {
		display: block;
		overflow: hidden;
		padding-top: 57px;
		img {
			float: left;
		}
		nav {
			float: right;
			margin-bottom: 340px;
			a {
				display: inline-block;
				margin-left: 65px;
				cursor: pointer;
				color: #ffffff;
				font-size: 14px;
				font-weight: 600;
				text-transform: uppercase;
			}
		}
	}
	.slider1 {
		display: block;
		.slider1N1{
			display: block;
			.row1 {
				display: block;
				text-align: center;
				margin-bottom: 30px;
				.row1word {
					display: inline-block;
					color: #ffffff;
					font-size: 60px;
					font-weight: 600;
				}
				.row1words {
					display: inline-block;
					color: #ffffff;
					font-size: 60px;
					font-weight: 400;
				}
			}
			p {
				display: block;
				color: #ffffff;
				font-size: 24px;
				font-weight: 400;
				text-align: center;
				margin-bottom: 63px;	
			}
			a{
				display: block;
				color: #ffffff;
				font-size: 14px;
				font-weight: 600;
				border: 2px solid #fff;
				border-radius: 20px;
				text-align: center;
				width: 180px;
				height: 44px;
				padding-top: 13px; 
				margin: 0 auto;
				margin-bottom: 72px;
			}
		}
	}
}
.layout {
		width:1475px;
		max-width: 100%;
		padding: 0 20px;
}
.learn_more {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	background-color: #17daa3;
	border-radius: 20px;
	text-align: center;
	width: 180px;
	height: 44px;
	padding-top: 13px; 
}
h2 {
	display: block;
	color: #576671;
	font-size: 60px;
	font-weight: 400;
}
h3 {
	display: block;
	color: #000000;
	font-size: 30px;
	font-weight: 400;
}
p {
	display: block;
	color: #87949e;
	font-size: 18px;
	font-weight: 400;
}
.title-border {
	text-align: center;
	&:after{
		content:"";
		display: block;
		width: 30px;
		height: 1px;
		background-color: #17daa3;
		margin: 40px auto;
	}
}
#content {
	background-color: #fff;
	.about {
		display: block;
		margin: 0 auto;
		margin-top: 110px;
		margin-bottom: 160px;
		h2 {
			text-align: center;
		}
		p {
			text-align: center;
			margin-bottom: 40px;
		}
		ul {
			display: block;
			margin-bottom: 110px;
			li {
				display: inline-block;
				width: 23%;
				margin: 0 auto;
				.project_img {
					display: block;
					width: 182px;
					height: 182px;
					border-radius: 50%;
					background-color: #edeff1;
					margin-bottom: 87px;
					margin-left: 60px;
					img {
						display: block;
						margin: 0 auto;
						padding-top: 65px;
					}
				}
				h3 {
					text-align: center;
					margin-bottom: 50px;
				}
				p {
					text-align: center;
				}

			}
		}
		.learn_more {
			margin: 0 auto;
		}
	}
	.li {
		display: block;
		background-color: #f9f9fa;
		padding: 165px 0;
		.li_about {
			display: inline-block;
			margin-left: 50%;
			color: #87949e;
			font-size: 18px;
			font-weight: 400;
			h2 {
				margin-bottom: 70px;
			}
			p {
				margin-bottom: 75px;

			}
		}
	}
	.dolor {
		display: block;
		padding: 165px 0;
		.dolor_about {
			display: inline-block;
			width: 50%;
			color: #87949e;
			font-size: 18px;
			font-weight: 400;
			h2 {
				margin-bottom: 70px;
			}
			p {
				margin-bottom: 75px;
			}
		}
	}
	.slider2 {
		background-image: url(../img/slider2.png);
		height: 705px;
		padding-top: 190px;
		.face {
			display: block;
			width: 105px;
			height: 105px;
			background-color: grey;
			border-radius: 50%;
			margin: 0 auto;
			margin-bottom: 45px;
		}
		.row1 {
			display: block;
			text-align: center;
			margin-bottom: 40px;
			.row1word {
				display: inline-block;
				color: #17daa3;
				font-size: 30px;
				font-weight: 400;
			}
			.row1words {
				display: inline-block;
				color: #ffffff;
				font-size: 30px;
				font-weight: 400;
			}
		}
		p {
			text-align: center;
		}
	}
	.our_services {
		display: block;
		background-color: #f9f9fa;
		padding-top: 100px;
		p {
			text-align: center;
			padding-bottom: 165px;
		}
		ul {
			display: block;
			padding-bottom: 65px;
			li {
				display: inline-block;
				width: 49%;
				margin-bottom: 95px;
				.os_name {
					display: block;
					height: 95px;
					.li_img {
						display: inline-block;
						width: 95px;
						height: 95px;
						border-radius: 50%;
						background-color: #edeff1;
						margin-right: 50px;
						img {
							display: block;
							margin: 0 auto;
							padding-top: 30px;
						}
					}
					h2 {
						display: inline-block;
						vertical-align: top;
    					padding-top: 10px;
					}
				}
				p {
					margin-left: 145px;
					text-align: left;
					padding-bottom: 0;

				}
			}
		}
	}
	.team {
		display: block;
		padding-top: 110px;
		h2 {
			text-align: center;	
		}
		p {
			text-align: center;
			padding-bottom: 110px;
		}
		.people {
			display: block;
			font-size: 0;
			.person {
				display: inline-block;
				width: 20%;
				height: 250px;
				&:nth-child(2n-1){
					background-color: #e4e4e4;				
				}
				&:nth-child(2n){
					background-color: #f9f9fa;				
				}
				&:nth-child(6n),&:nth-child(8n),&:nth-child(10n){
					background-color: #efefef;				
				}
				&:hover{
					.person-title {
						opacity: 1;
					}
				}
				.person-title {
					display: inline-block;
					background-color: #2dddac;
					text-align: center;
					vertical-align: middle;
					width: 100%;
					height: 100%;
					color: #ffffff;
					font-size: 36px;
					font-weight: 400;
					opacity: 0;
					transition: opacity 0.3s;
					&:after{
						content: "";
						display: inline-block;
						vertical-align: middle;
						height: 100%;
					}
					span {
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
		}
	}
	.pricing {
		display: block;
		background-color: #f9f9fa;
		padding-top: 100px;
		p {
			text-align: center;
			padding-bottom: 110px;
		}
		ul {
			display: block;
			margin-bottom: 110px;
			margin: 0 auto;
			padding-bottom: 110px;
			li {
				display: inline-block;
				width: 20%;
				background-color: #fff;
				border-radius: 3px;
				margin-right: 2%;
				box-shadow: 0 0 10px 10px #f6f6f7;
				.cost {
					display: block;
					border-bottom: 1px solid #eeeff1;
					padding: 55px 35px;
					.how-much {
						display: block;
						color: #17daa3;
						font-size: 60px;
						font-weight: 400;
						margin-bottom: 27px;
						.money {
							display: inline-block;
							vertical-align: top;
    						margin-top: -5px;
						}
						.hm-number {
							display: inline-block;
						}
					}
					.what-cost {
						display: block;
						color: #87949e;
						font-size: 18px;
						font-weight: 400;
					}
				}
				.purchase-description{
					display: block;
					padding: 70px 35px;
					color: #87949e;
					font-size: 18px;
					font-weight: 400;
					line-height: 2;
				}
				.purchase {
					display: block;
					padding: 27px 35px;
					background-color: #29dba9;
					.purchase-text {
						float: left;
						overflow: hidden;
						color: #fff;
					} 
					img {
						float: right;
						overflow: hidden;
					}
				}
			}
		}
	}
	.dolor-map {
		display: block;
		.dolormap_about1 {
			display: inline-block;
			padding: 190px 50px 190px 20px;
			width: 47%;
			h2 {
				margin-bottom: 80px;
			}
			p {
				margin-bottom: 75px;
			}
		}
		.map {
			display: inline-block;
			width: 52%;
		}
	}
	.template {
		display: block;
		padding: 170px 0;
		background-image: url(../img/slider3.png);
		.template-words {
			display: block;
			text-align: center;
			.t-words {
				display: inline-block;
				color: #87949e;
				font-size: 60px;
				font-weight: 400;
				&:nth-child(2){
					color: #fff;
					font-weight: 600;
				}
			}
		}
		.learn_more {
			margin: 0 auto;
			margin-top: 100px;
		}
	}
}
#footer {
	display: block;
	background: #fff url(../img/a.png) no-repeat center center;
	.copyright{
		float: left;
		padding-top: 72px;
		padding-bottom: 480px;
		img {
			height: 100%;
    		vertical-align: middle;
		}
		p {
			display: inline-block;
			vertical-align: middle;
		}
	}
	.nav2 {
		float: right;
		padding-top: 76px;
		a {
			display: inline-block;
			margin-left: 55px;
			cursor: pointer;
			color: #87949e;
			font-size: 18px;
			font-weight: 400;
			text-transform: uppercase;
			&:hover{
				color: #4a4d50;
			}
		}
	}
}
